doctype html(lang='en')
html
  head
    meta(charset='utf-8')
    title cine.io Developer
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700italic,700|Varela+Round')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//cdn.cine.io/fonts/cine-icon-font.css')
    link(rel='stylesheet', href='/css/bundle.css')
    link(rel='shortcut icon', href='http://www.cine.io/images/cine-icon.png')

  body
    #container
    script(src='/js/bundle.js')
